.ipSearch{
    background-color: orangered;
}
.mt-2.active p{
        text-decoration: line-through;
        color: red;
}
.nat{
    width: 400px;
    height: 400px;
    background-color: aqua;
}
.nat.active{
    background-color: blue;
}